@font-face {
    font-family: '작명';
    src : url(../font/NanumSquareR.woff);
}

@font-face {
    font-family: '작명2';
    font-weight: 800;
    src : url(../font/NanumSquareB.woff);
}

h4, h3 {
    transform: rotate(0.03deg);
}

div{
    box-sizing: border-box;
}
body{
    margin: 0;
    /* font-family: 'nanumsquare', 'gulim', 'dotum', 'arial';   font-family 는 inherit 됨 */
    font-family: '작명2';
}
html{
    line-height: 1.15;      /* 기본 행간 높이 */
}

.header {
    height: 60px;
    display: flex;
    background-color: tomato;
    color: white;
    align-items: center;
    padding: 10px 30px;
}

.logo {
    flex-grow: 1;
    font-size: 1.8rem;
}

.menu{
    width: 200px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
}

.main-background{
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);    /* ../ : 상위폴더로 이동 */
    /* 배경이미지 크기 조정 */
    /* cover : 배경을 잘라서라도 빈공간 없이 배경으로 꽉 채우기 */
    /* contain : 여백이 남아도 괜찮으니 배경이 잘리면 안됨 */
    background-size: cover;
    /* 배경이미지는 꽉 차지 않으면 반복 */
    background-repeat: no-repeat;
    /* 배경 위치 조정 */
    background-position: center;

    /* 스크롤시 배경 위치 조정 */
    /* background-attachment: fixed; */

    /* 박스에 보정입히기 */
    /* 박스 안에 글씨가 있다면 글씨에도 필터 입혀짐 */
    /* filter: brightness(70%) */
    
    /* 배경 여러개 겹치기 */
    /* background-image: url(../img/shoes.jpg), url(...), url(...); */

    /* 배경에 색 overlay 주기 */

    padding: 1px;
    position: relative;
}

.main-title {
    color: white;
    font-size: 50px;
    margin-top: 80px;
    padding-left: 50px;
}

.main-ads {
    position: relative;
    bottom: 50px;
    padding: 0px 50px 30px 30px;
    color: white;
    text-align: right;
    /* background-color: rgba(45, 44, 44, 0.435); */
}

.main-ads p {
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}

.main-btn{
    position: absolute;
    bottom: 140px;
    right: 130px;
    /* z-index: 5; */
}

.main-btn button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.main-btn button:hover{
    background-color: lightblue;
}

.main-box {
    width: 80%;
    max-width: 800px;
    height: 200px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
    padding: 20px 50px;
    text-align: center;
    border: none;
    background-color: lightgray;
}

.contact-form{
    margin-bottom: 100px;
}

form{
    border: 1px solid;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    position: relative;
}

form input[type=email], input[type=text] {
    box-sizing: border-box;
    height: 35px;
    width: 100%;
    padding: 0 20px;
}

form p{
    margin-bottom: 5px;
}

.form-name {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-name div {
    flex: 1;
}

form input[type=checkbox] {
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

form input[type=submit] {
    width: 120px;
    height: 35px;
    background-color:orange;
    color: white;
    border: none;
    position: absolute;
    right: 50px;
    margin-top: 15px;
    cursor: pointer;
}
