* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item {
    text-align: center;
}

@media screen and (max-width: 992px) {
    .container {
        flex-wrap: wrap;
    }

    .item {
        flex: 1 1 45%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        flex-wrap: wrap;
    }

    .item {
        flex: 1 1 50%;
    }
}
